.astronomy-picture {
    margin-top: 80px;

    .astronomy-picture-title {
        padding-bottom: 40px;
    }

    .astronomy-picture-content {
        img {
            width: 100%;
        }
        p {
            padding-top: 40px;
        }
    }
}