<div class="container astronomy-picture" *ngIf="astronomyPictureData$ | async as astronomyPictureData">
  <div class="row">
      <div class="col-12">
          <h1 class="astronomy-picture-title">
              {{astronomyPictureData.title}}
          </h1>
      </div>
  </div>

  <div class="row">
      <div class="col-12">
          <div class="astronomy-picture-content">
              <img [src]="astronomyPictureData.url" alt="image">
              <p>{{astronomyPictureData.explanation}}</p>
              <a href="https://api.nasa.gov/">Read more about the NASA API portal</a>
          </div>
      </div>
  </div>
</div>